NODE_ENV=
PORT=

DATABASE_NAME=
MONGODB_URI=

BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GEMINI_API_KEY=
DEEPSEEK_API_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

CORS_ORIGIN=
